Package: com.mpg13.undertime
Name: UnderTime
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Customizable date under time in iX StatusBar.
Maintainer: MPG13
Author: MPG13
Section: Tweaks
